.slider-value {
  text-align: right;
}

.red {
  color: red;
}

.green {
  color: green;
}

body {
  background-color: #000;
  color: #fff;
}

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

h2 {
  font-size: 14pt;
}

hr {
  margin: 20px;
  color: #FFFFFF;
}

#citelink {
  color: white;
}

#container {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 0.80fr 0.20fr 0;
}

#sliders {
  grid-area: 'sliders';
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 10px;
  overflow-y: scroll;
}

#map {
  grid-area: 'map';
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

#plot {
  grid-area: 'plot';
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.sliderheader {
  margin-top: -20px;
}

.sliderheader .first {
  margin-top: 0px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
}



/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

button {
  width: 200px;
  height: 50px;
  background-color: red;
}

button:hover {
  background-color: #AA0000;
}

.marker {
  background-image: url('/static/plus.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.popup_img {
  width: 40px;
  height: 40px;
}

.mapboxgl-popup {
  max-width: 200px;
  color: red;
}

.mapboxgl-popup-content {
  text-align: center;
  color: red;
  font-family: 'Open Sans', sans-serif;
}