<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/css/themes/dark-unica.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">

      <div id="sliders">
        <emissions-slider v-for="slider in sliders" v-bind:name="slider.name" v-bind:scale="slider.scale" v-model="slider.value"></emissions-slider>
        <button @click="simulate">Simulate</button>
      </div>

      <div id="map" v-bind:class="{blurred:!simulated}">
        <iframe ref="iframe" v-bind:src="mapUrl" width="100%" height="100%"></iframe>
      </div>

      <div id="plot" v-bind:class="{blurred:!simulated}">
        <highcharts :options="chartOptions"></highcharts>
      </div>
    </div>
    <script src="/static/dark-unica.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/themes/dark-unica.src.js"></script>
    <!-- vue-highcharts should be load after Highcharts -->
    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts/dist/vue-highcharts.min.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>